<div ng-controller="MessageListCtrl">
    <h1 class="page-header">Messages List</h1>
    <table class="table">
        <thead>
            <tr>
                <th width="25px">#ID</th>
                <th>UserId</th>
                <th>CurrencyFrom</th>
                <th>CurrencyTo</th>
                <th>AmountSell</th>
                <th>AmountBuy</th>
                <th>Rate</th>
                <th>TimePlaced</th>
                <th>OriginatingCountry</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="u in messages">
                <td>{{u.id}}</td>
                <td>{{u.userId}}</td>
                <td>{{u.currencyFrom}}</td>
                <td>{{u.currencyTo}}</td>
                <td>{{u.amountSell}}</td>
                <td>{{u.amountBuy}}</td>
                <td>{{u.rate}}</td>
                <td>{{u.timePlaced.date}}</td>
                <td>{{u.originatingCountry}}</td>
            </tr>
        </tbody>
    </table>

    <p>
        <button type="button" class="btn btn-success" 
                ng-click="addMessage()">Add Message
        </button>
    </p>
</div>